.jumbotron {
    margin-top: 60px;
    margin-right: 150px;
    margin-left: 150px;
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#form-input{
    margin-left: 150px;
}

.container {
    text-align: center;
}

.Logo {
    background-image: url(../images/cht.png);
}